{% extends "core/base.html" %}
{% block title %}Perfil{% endblock %}
{% block content %}
<div>
    <img src="{{ user.profile.image.url }}">
    <div>
        <h2 >{{ user.username }}</h2>
        <p>{{ user.email }}</p>
    </div>
</div>
<div>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <fieldset>
        <legend>Información de Perfil</legend>
        <div>
          {{ u_form }}
          {{ p_form }}
        </div>
        </fieldset>
        <div>
          <button type="submit">Actualizar</button>
        </div>
    </form>
</div>
{% endblock content %}