{% extends 'core/base.html' %}
{% block title %}Registrarse{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Registrate Hoy</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button type="submit">Registrate</button>
        </div>
    </form>
    <div>
        <small>
            Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia Sesion</a>
        </small>
    </div>
</div>

{% endblock %}