{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Presupuesto{% endblock %}

{% block content %}
<div class="container contenedor-wrap"> 
    <div class="content-section">
    <h1>Presupuesto Economico</h1>
    <hr>
    <table style="width:100%" border = "1" cellpadding= "5" cellspacing = "5">
        <th>Tipo de Servicio</th>
        <th>Tiempo Estimado</th> 
        <th>Precio</th>
    {%for object in servicios %}
    <tr>
        <td>{{ object.servicio }}</td>
        <td>{{ object.servicio.tiempo }}</td>
        <td>{{ object.servicio.precio }}</td>
    </tr>
    {%endfor%}
    <tr>
        <td>Descuento:</td>
        {%if presupuesto.descuento == True%}
        <td>Si</td>
        <td>{{presupuesto.valor_descuento}}</td>
        {%else%}
        <td>No</td>
        <td></td>
        {%endif%}
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Total: {{total}}</td>
    </tr>
    </table>
    <hr>
    <h4>Otro Comentario</h4>
    {% if presupuesto.otros_comentarios %}
    {{ presupuesto.otros_comentarios|safe }}
    {%else%}
    <p>no se tiene otro comentario. </p>
    {%endif%}
    <hr>
            <div class="form-group">
                <a href="{% url 'presupuesto-inicio' %}"><button class="btn btn-outline-info" type="submit">Terminar</button></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}