{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Presupuesto{% endblock %}

{% block content %}
<div class="container contenedor-wrap"> 
    <div class="content-section">
    <h2>Introduccion</h2>
    {{ presupuesto.introduccion|safe }}
    <h2>Servicios</h2>
    <hr>
    {%for object in servicios %}
        <h2>{{ object.servicio }}</h2>
        <h2>{{ object.tiempo }}</h2>
        <h2>{{ object.precio }}</h2>
        <p>{{ object.descripcion|safe }}</p>
        <a class="btn ver-o-editar" href="{% url 'serviciopresupuesto-edicion' object.id 0 %}">VER O EDITAR</a>
        <hr>
    {%endfor%}
    <div class="form-group">
        <a href="{% url 'presupuesto-crear-4' presupuesto.id %}"><button class="btn btn-outline-info">Siguente</button></a>
    </div>
    </div>
</div>
{% endblock %}