{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Presupuesto{% endblock %}

{% block content %}
<div class="container contenedor-wrap"> 
    <div class="content-section">
    <h1>Presupuesto Economico</h1>
    <hr>
    <table style="width:100%" border = "1" cellpadding= "5" cellspacing = "5">
        <th>Tipo de Servicio</th>
        <th>Tiempo Estimado</th> 
        <th>Precio</th>
        <th>---</th>
    {%for object in servicios %}
    <tr>
        <td>{{ object.servicio }}</td>
        <td>{{ object.servicio.tiempo }}</td>
        <td>{{ object.servicio.precio }}</td>
        <td><a href="{% url 'serviciopresupuesto-delete' object.id 0 %}">Eliminiar</a></td>
    </tr>
    {%endfor%}
        <form method="POST">
        {% csrf_token %}
    <tr>
        <td>Porcentaje de descuento:</td>
        <td>{{descuento.descuento}}</td>
        <td>{{descuento.valor_descuento}} %</td>
        <td></td>
    </tr>
    <tr>
        <td>IVA</td>
        <td>{{descuento.iva}}</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Total: {{ total.total }}</td>
        <td></td>
    </tr>
    </table>
    <hr>
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Siguente</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}