{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Servicio{% endblock %}

{% block content %}
<div class="container contenedor-wrap"> 
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edicion Servicio</legend>
                <h2>{{ object.servicio }}</h2>
                {{ form.media }}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}